.results {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  width: 330px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  position: relative;
  background-color: 'red'
}

.resultsTitle {
  font-weight: 400;
  background-color: #efeef1;
  padding: 10px;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #464646;
}

.resultsShowcase {
  width: 350px;
}

.resultsType {
  font-size: 12px;
  padding: 10px;
  background-color: #faf9fa;
  margin-bottom: 0;
  text-transform: uppercase;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.resultsItems {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 6px 0;
  background-color: #faf9fa;

}

.resultsItems:hover {
  background-color: #efeef1;
}

.resultsTitleButton {
  font-size: 12px;
  background-color: #efeef1;
  border: none;
  color: #f75239;
  cursor: pointer;
}

.resultContent {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
}

.resultContentImg {
  width: 45px;
  height: 65px;
}

.resultsMedia {
  background-color: #818a91;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem;
  width: auto;
  margin-right: 8px;
}

.resultsContainer {
  position: absolute;
  z-index: 100;
}

.resultsName {
  padding-left: 10px;
}

.resultsClosed {
  opacity: 0;
}