.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2em;
  font-family: Roboto;
  margin-top: 10px;
  margin-bottom: 24px;
  text-align: center;
}

.image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 1200px;

}

.synopsis {
  max-width: 500px;
  line-height: 1.6;
  margin-top: 70px;
  font-size: 16px;
  text-align: center;
}

.details {
  margin-top: 100px;
  width: 260px;
  height: 500px;
  padding: 20px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 3px;
}

.detail {
  margin-top: 10px;
  font-size: 14px;
  flex-wrap: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
}

.detail li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
  font-size: 12px;
}

.detail h6 {
  font-weight: 600;
  font-size: 16px;
}

.detail span {
  font-size: 12px;
  margin-left: 12px;
}

.slogan {
  font-size: 15px;
}

.strong {
  font-weight: bolder;
}